// http://ionicframework.com/docs/v2/theming/
// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.ios";
// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';

// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app

.toolbar-content {

  ion-title {
    padding: 2px 0 1px 5px;
    position: static;

    .toolbar-title {
      text-align: left;
    }
  }
}

ion-tabs.modal-filter {
  ion-tabbar {
    border-bottom: none;
  }

  a.tab-button {
    border-bottom: 2px solid color($colors, primary);
  }

  a.tab-button[aria-selected="true"] {
    border-bottom: 2px solid color($colors, light);
  }
}
